<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登陆页面</title>
</head>
<body>

    <div style="text-align: center;width: 100%">
        <label for="name">用户名</label>
        <input type="text" id="name"/> <br/>
        <label for="password">密码</label>
        <input type="password" id="password"/><br/>
        <input type="button"  value="登陆" id="submit"/>
    </div>

    <script src="../static/js/jquery.min.js" th:src="@{/static/js/jquery.min.js}"></script>
    <script>

        $(document).ready(function(){
            $("#submit").click(function(){
                $.ajax({
                    type : "POST",
                    url : "userService/goLogin",
                    data : {
                        "userName" : $("#userName").val(),
                        "password" : $("#password").val()
                    },
                    dataType : "json",
                    success : function(data) {
                        if (data.result === "1") {
                            window.location.href ="/springbootTest/thymeleafService/index";
                        } else {
                            alert("账号密码不能为空！");
                        }
                    }
                });

            });
        });
    </script>
</body>

</html>